
@import 'mixins';
$gray: #F6F6F6;
$black: #282828;
$secondary-black: #717171;
$mute-black: #9d9d9d;
$title-black: #414141;
$bg-white: #f2f2f2;
$white: #fff;
$red: #EB2835;
$light_gray: #999;
$background_gray: #e2e2e2;


%clearfix {
	@include clearfix();
}

%ellipsis {
	@include ellipsis();
}

%word-break {
	@include word-break();
}

%full-100 {
	@include full-100();
}

%full {
	@include full();
}

%full-fixed {
	@include full(fixed);
}

%center-transform {
	@include center-transform();
}

%center-flex {
	@include center-flex();
}

%ui-bg {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}
